common --enable_bzlmod
test --test_output=errors
build --action_env=CC
build --action_env=PATH

# Release profile
build:release -c opt
build:release --@rules_rust//:extra_rustc_flags=-Cstrip=symbols,-Cpanic=abort,-Ccodegen-units=1,-Copt-level=z
